<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gunkel.android.map">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application>
        <activity
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Drift"
            android:name="com.gunkel.android.map.MapActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.MAP"/>

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />
    </application>

</manifest>